---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/Hero.astro';
import ContactSection from '../../components/ContactSection.astro';
import Retreats from '../../components/Retreats.astro';
import { actions } from "astro:actions";
import HeroWelcome from '../../components/HeroWelcome.astro';
import ImagineSection from '../../components/ImagineSection.astro';
import NextRetreats from '../../components/NextRetreats.astro';
import RetreatHighlights from '../../components/RetreatHighlights.astro';
import UnterkunftPreise from '../../components/UnterkunftPreise.astro';
const result = Astro.getActionResult(actions.send);
if (result?.data) {
  return Astro.redirect("/thanks");
}
---
<Layout>
  <main class="min-h-screen flex flex-col items-center justify-center bg-cream-bg">
    <Hero />
    <HeroWelcome />
    <ImagineSection />
    <NextRetreats />
    <RetreatHighlights />
    <Retreats />
    <UnterkunftPreise />
    <ContactSection />
  </main>
</Layout>