---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/Hero.astro';
import ContactSection from '../../components/ContactSection.astro';
---
<Layout>
  <main class="min-h-screen flex flex-col items-center justify-center bg-emerald-50">
    <Hero />
    <ContactSection />
  </main>
</Layout>