---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/Hero.astro';
import ContactSection from '../../components/ContactSection.astro';
import RetreatLeft from '../../components/RetreatLeft.astro';
import Footer from '../../components/Footer.astro';
---
<Layout>
  <main class="min-h-screen flex flex-col items-center justify-center bg-cream-bg">
    <Hero />
    <RetreatLeft />
    <ContactSection />
    <Footer />
  </main>
</Layout>