---
import CtaLink from './CtaLink.astro';
const buttonLabel = "NÄCHSTE RETREATS"
const buttonHref = "#next-retreats" 
---

<section id="hero-welcome" class="section bg-cream-bg text-black text-center font-sans">
  <div class="section-inner">
    <h2 style="font-family: 'EditorialOld', sans-serif; font-style: italic;" class="heading-main mb-6">
      Willkommen bei Carma Retreats
    </h2>
    <p class="body-text text-center max-w-3xl mx-auto whitespace-pre-line">Unsere Retreats schaffen einen Raum, in dem du ankommst - bei dir, in Verbindung mit anderen und im Hier und Jetzt.</p>
    <CtaLink label={buttonLabel} href={buttonHref} />
  </div>
</section>