---
import CTA from './CTA.astro';
const buttonLabel = "NÄCHSTE RETREATS"
const buttonHref = "#next-retreats" // o cualquier ID/URL que quieras usar
---

<section class="w-full bg-cream-bg text-black py-24 px-6 text-center font-sans">
  <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl leading-tight mb-12"
      style="font-family: var(--font-editorial);"
    >
    Willkommen bei Carma Retreats
  </h2>

  <p class="tracking-widest text-sm md:text-[1.125rem] mb-18 font-semibold"
    style="font-family: var(--font-sans);">
    Unsere Retreats schaffen einen Raum, in dem du ankommst – bei dir, in Verbindung mit anderen und im Hier und Jetzt.
  </p>

  <CTA label={buttonLabel} color="cream" border={true} href={buttonHref} />
</section>