---
import { Image } from 'astro:assets';
import CTA from '../components/CTA.astro';
import hostsImg from '../assets/images/hosts-carmen-mareen.jpg'; 
import CtaLink from './CtaLink.astro';
---

<section id="deine-hosts" class="section bg-cream-bg">
  <!-- Imagen de ancho completo con recorte central -->
  <div class="w-screen h-[60vh] overflow-hidden">
    <Image 
      src={hostsImg}
      alt="Carmen und Mareen"
      class="w-full h-full object-cover object-center"
    />
  </div>
  <div class="section-inner">
  
    <!-- Contenido textual debajo -->
    <div class="w-full">
      <p class="uppercase section-label text-[var(--color-black)] mb-8">
        DEINE HOSTS
      </p>
  
      <h2 style="font-family: 'EditorialOld', sans-serif; font-style: italic;" class="heading-main">
        Hi, wir sind Carmen und Mareen.
      </h2>
  
      <p class="body-text text-black text-justify">...und gemeinsam sind wir CARMA Retreats.</p>
      <p class="body-text text-black text-justify mb-8">
        Wir glauben, dass Veränderung bei uns selbst beginnt. Und laden dich ein an einen Ort, 
        an dem die Zeit langsamer wird. An einen Ort, an dem du ankommen darfst. 
        Bei dir selbst, in Verbindung mit anderen, im Hier und Jetzt.
        Wir laden dich ein zu einer Auszeit in der Ferne, die nachhaltig bewegt.
      </p>
  
      <div class="text-right">
        <CtaLink label="Mehr über uns" color="black" href="#mehr-uber-uns" />
      </div>
    </div>
  </div>
</section>