---
import bgImage from '../assets/images/Terra-Rossa-Papier.png';
---

<section
  class="w-full bg-cover bg-center bg-no-repeat py-24 px-6 text-white text-center"
  style={`background-image: url(${bgImage.src});`}
>
  <h2 class="text-xl sm:text-2xl md:text-3xl italic text-white text-center mb-18"
    style="font-family: var(--font-editorial);">
    Stell dir vor...
  </h2>

  <div class="text-white text-base md:text-lg leading-relaxed text-center max-w-3xl mx-auto space-y-4"
     style="font-family: var(--font-sans);">
    <p>
      ...ein sanftes Rascheln von Palmenblättern trägt dich in den Morgen. Du spürst die Wärme der Sonne auf deiner Yogamatte, dein Herz schlägt ruhig, dein Geist wird leicht. 
    </p>
    <p>
      Ankommen und Aufatmen. Jeder Moment ist vollkommen - du bist ganz präsent, im Hier und Jetzt.
    </p>
    <p>
      Willkommen an einem Ort, an dem die Zeit langsamer wird, und dein Körper und Geist ruhig werden. Willkommen bei deiner Auszeit in der Ferne, die nachhaltig bewegt.
    </p>
  </div>
</section>