---
import CTA from '../components/CTA.astro';
const { isMobile = false } = Astro.props;

const navClass = isMobile ? 'flex flex-col px-4 py-4 space-y-4 text-gray-800 ' : 'hidden sm:flex space-x-6 text-gray-800 ';
---

<nav class={navClass}>
  <a href="#retreats" class="hover:text-emerald-600 transition ">Retreats</a>
  <a href="#unterkunft" class="hover:text-emerald-600 transition ">Unterkunft</a>
  <a href="#tagesablauf" class="hover:text-emerald-600 transition ">Tagesablauf</a>
  <a href="#uberuns" class="hover:text-emerald-600 transition ">Über uns</a>
  <CTA text="Kontakt" href="#signup" />
</nav>