---
import CTA from '../components/CTA.astro';
const { isMobile = false } = Astro.props;

const navClass = isMobile ? 'flex flex-col px-4 py-4 space-y-4 text-gray-800 ' : 'hidden sm:flex space-x-6 text-gray-800 ';
---

<nav class={navClass}>
  <a href="/retreats" class="hover:text-emerald-600 transition ">Retreats</a>
  <a href="/about" class="hover:text-emerald-600 transition ">About Us</a>
  <CTA text="MEHR ERFAHREN" href="/signup" />
</nav>