---
import CTA from '../components/CTA.astro';
const { isMobile = false } = Astro.props;
---
<nav aria-label="Mobile navigation">
  <ul class="mobile-links">
    <li><a href="/retreats" @click="open = false">Retreats</a></li>
    <li><a href="/unterkunft" @click="open = false">Unterkunft</a></li>
    <li><a href="/tagesablauf" @click="open = false">Tagesablauf</a></li>
    <li><a href="/uber-uns" @click="open = false">Über uns</a></li>
  </ul>
</nav>