---
---
<nav aria-label="Mobile navigation">
  <ul class="mobile-links">
    <li><a href="#next-retreats" @click.prevent="closeMenu(); location.href='#next-retreats'">Retreats</a></li>
    <li><a href="#unterkunft-preise" @click.prevent="closeMenu(); location.href='#unterkunft-preise'">Unterkunft/Preise</a></li>
    <li><a href="#tagesablauf" @click.prevent="closeMenu(); location.href='#tagesablauf'">Tagesablauf</a></li>
    <li><a href="#deine-hosts" @click.prevent="closeMenu(); location.href='#deine-hosts'">Über uns</a></li>
    <li><a href="#kontakt" @click.prevent="closeMenu(); location.href='#kontakt'">Kontakt</a></li>
  </ul>
</nav>