---
---
<nav aria-label="Mobile navigation">
  <ul class="mobile-links">
    <li><a href="/retreats#next-retreats" @click.prevent="closeMenu(); location.href='/retreats#next-retreats'">Retreats</a></li>
    <li><a href="/retreats#unterkunft-preise" @click.prevent="closeMenu(); location.href='/retreats#unterkunft-preise'">Unterkunft/Preise</a></li>
    <li><a href="/retreats#tagesablauf" @click.prevent="closeMenu(); location.href='/retreats#tagesablauf'">Tagesablauf</a></li>
    <li><a href="/retreats#deine-hosts" @click.prevent="closeMenu(); location.href='/retreats#deine-hosts'">Über uns</a></li>
    <li><a href="/retreats#kontakt" @click.prevent="closeMenu(); location.href='/retreats#kontakt'">Kontakt</a></li>
  </ul>
</nav>